body {
	background-image: url('background2.jpg');
}

.home {
	grid-area: home;
}

.about {
	grid-area: about;
}

.name {
	grid-area: name;
}

.contact {
	grid-area: contact;
}

.projects {
	grid-area: projects;
}

.left {
	grid-area: left;
}

.main {
	grid-area: main;
}

.right {
	grid-area: right;
}

.picture1 {
	grid-area: picture1;
}

.picture2 {
	grid-area: picture2;
}

.picture3 {
	grid-area: picture3;
}

.footer {
	grid-area: footer;
	column-span: all;
	position: fixed;
	bottom: 0;
	vertical-align: bottom;
}

.grid {
	display: grid;
	grid-template-areas:
	'home about name contact projects'
	'left main main main right'
	'picture1 picture2 picture2 picture2 picture3'
	'footer footer footer footer footer';
	grid-gap: 20px;
	padding: 10px;
	text-align: center;
}

.grid > a {
	font-size: 30px;
	color: #f2f2f2;
	text-decoration: none;
}

.grid > a.name {
	font-size: 50px;
	color: cadetblue;
}

.grid > div {
	font-size: 16px;
	color: tomato;
}

.grid > div.footer {
	font-size: xx-small;
	color: whitesmoke;
}

.grid > div > img {
	width: 256px;
	border-radius: 10%;
}