body {
	background-color: #202020;
	display: block;
	background-image: url('background2.jpg');
}

.navbar {
	overflow: hidden;
}

.navbar a.button {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-size: 18px;
}

.navbar a.button:hover {
	background-color: #4CAF50;
	color: white;
	border-style: ridge;
}

.navbar a.name {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-size: 24px;
}

.header {
	margin: 20px;
}

.header div.proglang img.profilepic {
	width: 75px;
	height: 75px;
	float: left;
	margin-right: 50px;
	border-radius: 5%;
}

.header div.proglang h1 {
	display: inline;
	text-decoration: none;
	color: whitesmoke;
}

.header div.proglang span {
	color: tomato;
}

.mainpage div.row1 {
	display: grid;
	grid-area: header;
	flex-wrap: wrap;
	padding: 0 4px;
	float: right;
}

.mainpage div.row2 {
	display: grid;
	flex-wrap: wrap;
	padding: 0 4px;
	float: left;
}

.mainpage div.column {
	flex: 25%;
	max-width: 25%;
	padding: 25px;
}

.mainpage div.column img {
	width: 400px;
	padding: 10px;
}

.mainpage div.column img.project1 {
}

.mainpage div.column img.project2 {
	float: left;
}

.mainpage div.column span {
	color: tomato;
	padding: 10px;
	text-align: center;
}

.mainpage div.project2 {
	float: left;
}

.mainpage div.project2 img {
	width: 400px;
	border-radius: 5%;
}

.mainpage div.project2 span {
	color: tomato;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	color: grey;
	font-size: xx-small;
	text-align: center;
	padding: 15px;
	clear: both;
	vertical-align: bottom;
}